/*Definiendo generales*/

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: black;
}

ul li {
    list-style: none;
}

button {
    cursor: pointer;
    display: block;
    width: 40%;
    height: 2rem;
    background-color: red;
    color: white;
    border-radius: 1rem;
}

button:hover {
    background-color: rgb(210, 11, 11);
}

/*Definiendo las areas de la grilla*/

.grid-areas {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 300px;
}

/*Definiendo los estilos por area de la grilla*/

.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 5rem;
    row-gap: .5rem;
    align-items: baseline;
    padding: 1rem;
}

.header nav ul li a:hover{
    color: red;
    text-decoration: underline;
    text-underline-offset: 5px;
}

.header h1 {
    font-weight: 600;
    text-align: center;
}

.header nav ul{
    display: flex;
    column-gap: 1rem;
}

.footer {
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: .5rem;
}


/*Definiendo los estilos de las secciones*/
.section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 1rem;
    padding: 2rem 1rem 2rem 1rem;
}

/*Definiendo el estilo de la seccion principal*/
#inicio {
    background-color: rgba(248, 222, 222, 0.432);
    min-height: 350px;
    text-align: center;
    row-gap: 1rem;
}

#inicio h2 {
    font-weight: 600;
}

