/*Definiendo generales*/

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: black;
}

ul li {
    list-style: none;
}

/*Definiendo las areas de la grilla*/

.grid-areas {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 300px;
}

.grid-areas .grid-element {
    padding: 1rem;
}

/*Definiendo los estilos por area de la grilla*/

.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    column-gap: 1.5rem;
    row-gap: .5rem;
    align-items: baseline;
}

.header h1 {
    font-weight: inherit;
    color: rgba(255, 98, 0, 0.801);
}

.header nav ul{
    display: flex;
    column-gap: 1rem;
}

.footer {
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: .5rem;
}

/*Definiendo los estilos de las secciones*/

.section {
    padding: 1rem;
    border: 1px solid black;
    border-radius: 5px;
    margin: 1rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

#inicio img{
    /* El tamaño de la imagen se ajusta al tamaño del contenedor */
    width: 100%;
    height: auto;
}

